Repository morning-night-dream/platform, pull requests merged in 2022-10, with the labels that each got.

#35 #32 自動デプロイの設定を追加
  .github/workflows/push.yml
  backend/.ko.yml
  backend/cloudbuild.yaml
  container/builder/Dockerfile
  container/deployer/Dockerfile
Labels: backend

#38 #37 createRootのimportをReact18のやり方に修正
  frontend/src/main.tsx
Labels: frontend

#44 #43 記事一覧取得機能を追加
  .github/actions/setup/action.yml
  .github/workflows/document.yml
  .github/workflows/test.yml
  api/.gitignore
  api/Makefile
  api/article/v1/article.proto
  api/buf.gen.yaml
  api/package-lock.json
  api/package.json
  backend/Makefile
  backend/README.md
  backend/app/core/database/store/article.go
  backend/app/core/database/store/article_test.go
  backend/app/core/handler/article.go
  frontend/.gitignore
Labels: backend

#52 #51 connectによるコード生成を修正
  .github/actions/backend/action.yml
  .github/actions/setup/action.yml
  .github/workflows/document.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  api/Makefile
  api/buf.backend.gen.yaml
  api/buf.frontend.gen.yaml
  backend/app/core/cloudbuild.yaml
Labels: backend, frontend

#64 #61 認証機能を実装
  .github/actions/backend/action.yml
  .github/workflows/deploy.yml
  README.md
  api/article/v1/article.proto
  api/auth/v1/auth.proto
  backend/README.md
  backend/app/core/database/database.go
  backend/app/core/database/store/article.go
  backend/app/core/database/store/article_test.go
  backend/app/core/database/store/auth.go
  backend/app/core/handler/article.go
  backend/app/core/handler/auth.go
  backend/app/core/handler/slack.go
  backend/app/core/main.go
  backend/app/core/model/auth.go
  backend/app/core/model/token.go
  backend/cmd/migrate/main.go
  backend/go.mod
  backend/go.sum
  backend/pkg/ent/schema/auth.go
Labels: backend

#67 #66 記事モデルを修正
  api/article/v1/article.proto
  backend/app/core/database/store/article.go
  backend/app/core/database/store/article_test.go
  backend/app/core/handler/article.go
  backend/app/core/handler/slack.go
  backend/app/core/model/article.go
  backend/pkg/ent/schema/article.go
  backend/pkg/ent/schema/article_tag.go
Labels: backend

#74 #73 CIを整備
  .github/actions/backend/setup/action.yml
  .github/workflows/api.check.yml
  .github/workflows/backend.push.yml
  .github/workflows/backend.release.yml
  .github/workflows/backend.test.yml
  .github/workflows/backend.vulnerability.yml
  .github/workflows/document.yml
  api/.gitignore
  api/Makefile
  api/article/v1/article.proto
  api/auth/v1/auth.proto
  backend/Makefile
  backend/pkg/ent/schema/auth.go
Labels: documentation, backend

#82 #15 タグ追加機能
  api/article/v1/article.proto
  backend/.golangci.yml
  backend/README.md
  backend/app/core/database/store/article.go
  backend/app/core/database/store/article_test.go
  backend/app/core/database/store/auth.go
  backend/app/core/handler/article.go
Labels: backend

#86 #85 フロントエンドの静的解析をCIで実行するように設定
  .github/actions/frontend/setup/action.yml
  .github/workflows/backend.vulnerability.yml
  .github/workflows/frontend.lint.yml
  frontend/yarn.lock
Labels: frontend

#84 #83 goreleaserを使わないようにする
  .github/workflows/backend.release.yml
  backend/app/core/.goreleaser.yml
Labels: backend
